﻿body {
    font-family: Helvetica, sans-serif;
}

@media only screen and (min-width : 320px) {
    body {
        width: 100%;
    }

    header {
        height: auto;
        width: 100%
    }

        header span.separator {
            content: "";
            display: inline;
            margin: 0 45%
        }

        header img {
            position: relative;
            display: inline;
            width: 20%;
        }

    #bot-frame {
        height: 600px;
        width: 70%;
        border: none;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    header {
        height: auto;
        width: 100%
    }

        header span.separator {
            content: "";
            display: inline;
            margin: 0 29%
        }

        header img {
            position: relative;
            display: inline;
            width: 20%;
        }

    #bot-frame {
        min-height: 300px;
        min-width: 150px;
        width: 100%;
        border: none;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        height: auto;
        width: 80%
    }

        header span.separator {
            content: "";
            display: inline;
            margin: 0 29%
        }

        header img {
            position: relative;
            display: inline;
            width: 20%;
        }

    #bot-frame {
        min-height: 300px;
        min-width: 150px;
        width: 100%;
        border: none;
        margin: 0 auto;
    }
}
