﻿body {
    font-family: 'Calibri';
}

header {
    width: 100%;
    height: 80px;
    /*border-bottom: 2px solid black;*/
}

@media only screen and (min-device-width : 320px) and (max-device-width : 720px) {
    iframe {
        width: 100%;
        height: 100%;
        border: 2px solid #808080;
    }

    div.bot-frame {
        width: 100%;
        height: 350px;
        margin: 0 auto 20px auto;
    }
}

@media only screen and (min-width : 721px) {

    iframe {
        width: 100%;
        height: 100%;
        border: 2px solid #808080;
    }

    div.bot-frame {
        width: 60%;
        height: 400px;
        margin: 0 auto 40px auto;
    }
}

hr {
    margin-bottom: 20px;
}

.pfizer-logo {
    background-image: url(../Images/PfizerLogo.png);
    float: left;
    width: 131px;
    height: 72px;
    display: inline;
    margin: auto 0;
}

.gonet-logo {
    background-image: url(../Images/gonet_logo.png);
    float: right;
    width: 187px;
    height: 72px;
    display: inline;
    margin: auto 0;
}

footer div {
    font-size: .7em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

